nav > ul > li > a{
    background-color: rgb(129, 122, 122);
    color: white;
    font-size:30px;
  }
  li a {
    display: block;
    text-decoration: none;
  }
  ul {
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: column;

  }
  .active {
    background-color: #a7a4c4;
    color: rgb(9, 10, 10);
  }
  
  .characters{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

  }

.characters_item{
  background-color:wheat;
  border:1px solid black;
}
.person{
  background-color:yellowgreen;
  text-align: center;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-grow: 1;


  
}
h1 {font-size:70px}

.button{display: inline-block;
  text-decoration: none;
  color: white;
  font-size:40px;
  border:1px solid black;
  background-color:rgb(148, 86, 28)
}
